body {
    background: #eee;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

#chatroom {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: 1px black solid;
    display: none;
}

.header {
    background-color: lightgray;
    text-align: center;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
}

#openchat-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 250px;
    margin-right: 20px;
    border: 1px black solid;
    border-bottom: none;
}

#chat-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#chat {
    background-color: rgb(249, 249, 249);
    padding-left: 5px;
    padding-right: 5px;
    max-height: 300px;
    overflow-y: scroll;
}

#chat .message {
    width: fit-content;
    max-width: 200px;
    border-radius: 10px;
    padding: 5px;
}

#chat .user {
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    margin-left: 20px;
}

#chat .moderator {
    background-color: blue;
    color: white;
}